<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - The Supply Shelf</title>
    <!--
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    -->
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/loginstyle.css}" />
    <script src=
                    "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
</head>
<header>
    <div class="container nav">
        <div class="logo-container">
            <!-- <img th:src="@{/css/images/companylogo.png}" alt="BarCrawls Inc."> -->
            <img  th:src="@{/css/images/logo.jpg}" alt="The Supply Shelf Logo" class="logo"/>

            <h1>The Supply Shelf</h1>
        </div>
        <nav>
            <!-- <a th:href="@{/order/list}"> -->
            <a th:href="@{/}">Home</a>
            <a th:href="@{/browse}">Browse</a>
            <a th:href="@{#}">Login</a>
            <a th:href="@{/signup}">Signup</a>
        </nav>
    </div>
</header>


<body>

<main>
    <div class="containerlogin">
        <form id="login-form">
            <h2>Log in</h2>
            <label for="email">Email *</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password *</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Log in</button>
            <p>Do not have an account? <a th:href="@{/signup}" >Sign up here!</a></p>
        </form>
    </div>
</main>
<footer class="footer">
    <p>&copy; 2025 The Supply Shelf | Designed for Douglas College Students</p>
</footer>

<!-- Firebase JS SDKs -->
<script type="module">
    import { initializeApp } from 'https://www.gstatic.com/firebasejs/10.12.3/firebase-app.js';
    import { getAuth, signInWithEmailAndPassword } from 'https://www.gstatic.com/firebasejs/10.12.3/firebase-auth.js';
    import {getIdToken, onAuthStateChanged } from 'https://www.gstatic.com/firebasejs/10.12.3/firebase-auth.js';

    function callAjax(postObj){
        jQuery.ajax(
            {
                type: "POST",
                url: "/yourURL",
                contentType: "application/json",
                data: JSON.stringify(postObj)
            })
    }

    const firebaseConfig = {
        apiKey: "AIzaSyAlrMxDdGgolFLdhay57q4vOxVqRGA2O-g",
        authDomain: "supplyshelf3275.firebaseapp.com",
        projectId: "supplyshelf3275",
        storageBucket: "supplyshelf3275.firebasestorage.app",
        messagingSenderId: "738816908370",
        appId: "1:738816908370:web:800c36581a02bb27a7938b"
    };

    const app = initializeApp(firebaseConfig);
    const auth = getAuth(app);

    const loginForm = document.getElementById('login-form');
    loginForm.addEventListener('submit', async (e) => {
        e.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        try {
            const userCredential = await signInWithEmailAndPassword(auth, email, password);

            console.log('Logged in:', userCredential.user);
            // Redirect or show a success message

            await onAuthStateChanged(auth, async (user) => {
                if (user) {
                    const token = await getIdToken(user);
                    console.log(token);

                    let postObj = {
                        id: token
                    }
                    callAjax(postObj);

                }
            });




            window.location.href = '/login'; // Redirect to home page or another page

        } catch (error) {
            console.error('Error logging in:', error);
            alert('Login failed: ' + error.message); // Show an error message
        }
    });







</script>

</body>
</html>
